.competency {
    color: var(--main-black);

    padding: 45px 0;
}

.competency__container {
    padding: 0 18px;
}

.competency__title {
    font-size: 24px;

    padding-bottom: 60px;
}

.competency__cards {
    display: grid;
    grid-template-columns: 180px;
    justify-content: center;
    gap: 30px 0;
}

.competency__card-header {
    text-align: center;
}

.competency__card-image {
    height: 80px;
}

.competency__card-title {
    font-size: 28px;
}

.competency__card-description {
    font-size: 14px;
    opacity: 0.7;
}

@media (min-width: 1025px) {
    .competency__container {
        padding: 0 130px;
    }

    .competency__title {
        font-size: 42px;
    }

    .competency__cards {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}