* {
    font-family: Montserrat, sans-serif;
}

:root {
    --red: #f14d34;
    --main-black: #050C33;
}

body {
    margin: 0;
    padding-bottom: 44px;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
    font-weight: 300;
}

ul {
    margin: 0;
}

button {
    background-color: #fff;
}