.first-point {
    color: #fff;

    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 80px;
    
    backdrop-filter: brightness(0.2) ;
    background: url(../img/intro/druplicon.svg) no-repeat -72px -72px / 110%;
}

.first-point__container {
    padding: 0 24px;
}

.intro {
    text-align: center;
    margin-bottom: 80px;
}

.intro__background {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
}

.intro__title {
    font-size: 20px;
}

.intro__description {
    margin-top: 30px;
    margin-bottom: 60px;

    font-size: 12px;
    line-height: 1.5;
}

.intro__button {
    background: none;
    cursor: pointer;
    
    padding: 24px 80px;
    border: 2px solid #f14d34;
    border-radius: 4px;
    
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.intro__button:hover {
    transition: .2s all linear;
    background: var(--red);
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
}

.info__item {
    position: relative;
    padding-left: 20px;
}

.info__item::before {
    content: "";
    display: block;
    width: 4px;
    background: var(--red);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.info__title {
    font-size: 18px;
}

.info__description {
    font-size: 10px;
    margin-top: 8px;
}

.info__item_accent .info__title {
    display: inline;
}

.info__item_accent img {
    position: absolute;
    top: -5px;
    width: 40px;
}

.info__item_accent .info__title {
    font-size: 32px;
}