.support {
    padding-top: 96px;
    text-align: center;

    position: relative;
}

.support::after {
    content: "";
    background: linear-gradient(to right, #040613, #181a26);
    
    display: block;
    height: 200px;
    width: 100vw;
    
    position: absolute;
    bottom: 0;
    z-index: -10;
}

.support__container {
    padding: 0 15px;
}

.support__title {
    color: var(--main-black);
    font-size: 22px;

    margin-bottom: 16px;
}

.support__cards {
    text-align: left;

    background: #fff;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 5px 0;
}

.support__card-item {
    border-radius: 10px;
    border-bottom: 1px solid #050c331f;
    border-right: 2px solid #050c331f;
    padding: 24px;
}

.support__card-number {
    color: var(--main-black);
    font-size: 12px;
    font-weight: 700;

    margin-bottom: 30px;

    opacity: 0.5;
}

.support__card-title {
    color: var(--main-black);
    font-size: 18px;

    margin-bottom: 24px;
}

.support__card-description {
    color: var(--main-black);
    font-size: 16px;
    font-weight: 400;

    margin-bottom: 36px;

    opacity: 0.7;
}

.support__card-item_1 {
    background: url(../img/support/support1.svg) no-repeat bottom right;
}

.support__card-item_2 {
    background: url(../img/support/support2.svg) no-repeat bottom right;
}

.support__card-item_3 {
    background: url(../img/support/support3.svg) no-repeat bottom right;
}

.support__card-item_4 {
    background: url(../img/support/support4.svg) no-repeat bottom right;
}

.support__card-item_5 {
    background: url(../img/support/support5.svg) no-repeat bottom right;
}

.support__card-item_6 {
    background: url(../img/support/support6.svg) no-repeat bottom right;
}

.support__card-item_7 {
    background: url(../img/support/support7.svg) no-repeat bottom right;
}

.support__card-item_8 {
    background: url(../img/support/support8.svg) no-repeat bottom right;
}